<div class="col-md-4" data-ng-controller="createEventController as create">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create</h3>
        </div>
        <div class="panel-body">
            <form novalidate name="create.form" class="simple-form">
                Tag: <br />
                <input type="text" ng-model="create.tagName"/><br />
                Description: <br />
                <input type="text" ng-model="create.description"/><br />
                <button data-ng-click="create.create()">Create</button>
            </form>
        </div>
    </div>
</div>