<p class="alert alert-danger" ng-show="error">{{error}}</p>
<div my-custom-directive></div>
<div class="col-md-4" data-ng-controller="updateEventController as update">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Update</h3>
        </div>
        <div class="panel-body">
            <form novalidate name="update.form" class="simple-form">
                Title: <br />
                <input type="text" ng-model="update.title"/><br />
                Description: <br />
                <input type="text" ng-model="update.description"/><br /><br />
                <button data-ng-click="update.update()">Update</button>
            </form>
        </div>
    </div>
</div>